<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.library_management_system.mapper.BookStoreInfoMapper">
    <insert id="insertBookStoreInfosBatch">
        insert into book_store_info (book_id,call_number) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.bookId}, #{item.callNumber})
        </foreach>
    </insert>
</mapper>
